* {
  margin: 0;
  padding: 0;
}

.dev-name,
.section-title,
.new-project {
  text-transform: uppercase;
}

.dev-name {
  font-size: 20px;
}

.back-color:hover {
  background-color: #444;
}

.background-color:active {
  background-color: #444;
}

.section-title {
  line-height: 2em;
}

.lights-parallax {
  height: 300px;
}

.new-project {
  margin: 30px 0;
  line-height: 2em;
  border: 2px solid #444;
  border-radius: 3px;
  padding: 10px;
}
